* {
    margin: 0px;
    padding: 0px;
}


/* main-section start */

body {
    display: block;
}

.main-section {
    background-color: #d79ed6;
    /* box-shadow: -1px 5px 13px 13px black; */
}

.container {
    width: 1100px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d79ed6;
    box-shadow: 1px 4px 20px 1px #00000063;
}

.logo {
    max-width: 20%;
    flex-basis: 20%;
}

.logo img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    /* margin-top: 16px; */
}

nav {
    max-width: 80%;
    flex-basis: 80%;
    /* margin-left: 100px; */
}

nav ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    font-size: 30px;
    font-weight: 700;
    font-style: unset;
    text-transform: capitalize;
    justify-items: end;
}

nav ul li :hover {}

nav ul li a {}


/* main-section end */


/* <!-- information section start--> */

.information {
    /* margin-top: 70px; */
    background-color: #e7cdd1;
    padding: 100px 0px;
}

.container {}

.my-information {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contant {
    max-width: 30%;
    flex-basis: 30%;
    margin: auto;
}

span {
    display: block;
    width: 50px;
    height: 5px;
    background-color: rgb(189, 30, 210);
    display: block;
    padding: 0px;
    margin: 20px auto;
}

.name {
    font-size: 28px;
    color: #4c1d58;
    margin: 15px 0px;
}

.work {
    font-size: 30px;
    color: #98719f;
    margin: 10px 0px;
}

.contant p {
    text-align: justify;
    font-size: 16px;
    color: #c790c3;
}

.images {
    max-width: 60%;
    flex-basis: 60%;
    display: flex;
}

.image {
    margin-left: 10px;
    position: relative;
}

.image img {
    width: 100%;
    height: 80%;
    border-radius: 5px;
    box-shadow: 0 0 20px 4px #0000003b;
}

.cover {
    position: absolute;
    width: 100%;
    height: 80%;
    background: #a5a5ce6b;
    top: 0;
    display: none;
}

.image:hover .cover {
    display: block;
}

.ditails {
    position: absolute;
    top: 50%;
    transform: translateX(+80%);
    color: rgb(114, 15, 153);
    display: none;
}

.image:hover .ditails {
    display: block;
}


/* <!-- information section end --> */


/* contact section start */

.contact-section {
    background-color: #eddfef;
}

.container {}

.contact-part {}

.contact-name {
    margin: auto;
    width: 300px;
    font-size: 20px;
    color: #440b3d;
    padding: 40px 0px;
}

.h-name {
    padding: 80px 0px;
    font-size: 30px;
    font-weight: 900;
    color: #32022a;
}

.contact-icons {
    width: 200px;
    margin: auto;
    font-size: 40px;
    color: #4a033b;
}

.contact-ditails {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
}

ul {}

ul li {
    list-style: none;
    font-size: 20px;
}

ul li a {
    display: block;
    text-decoration: none;
    color: #6d056e;
}

ul li a:hover {}

.year {
    width: 200px;
    margin: auto;
    font-size: 40px;
    color: #3a0736;
}

.year:hover {}


/* contact section end */

.year {}