/* main-section start */
body{
    display: block;
    }
    .main-section{
    
    background-color: #d79ed6;
    }
    .container{
        width: 1100px;
        margin: auto;
        }
    .header{
    display: flex;
    }
    .logo{max-width: 20%;
        flex-basis: 20%;}
    .logo img{
        height: 60px;
        width: 60px;
        border-radius: 20px;
        margin-top: 16px;
    }
    nav{max-width: 80%;
        flex-basis: 80%;
        margin-left: 100px;}
    nav ul{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        list-style: none;
        font-size: 30px;
        font-weight: 700;
        font-style: unset;
        text-transform: capitalize;
    }
    nav ul li{
    
    }
    nav ul li a{
    
    }
    /* main-section end */
    
    
    /* <!-- information section start--> */
    .information{
        margin-top: 70px;
        background-color: #e7cdd1;
        }
    .container{
    
    }
    .my-information{
    display: flex;
    }
    .contant{max-width: 30%;
        flex-basis: 30%;
        margin: auto;}
        span{
            display: block;
            width: 50px;
            height: 5px;
            background-color: rgb(189, 30, 210);
            display: block;
            padding: 1px;
            margin: auto;
        }
    .name{
    
    font-size: 28PX;
    
    color: #4c1d58;
    }
    .work{
    
    font-size: 30px;
    
    color: #98719f;
    }
    .contant p{
    
    text-align: justify;
    
    font-size: 16px;
    
    color: #c790c3;
    }
    .images{
        max-width: 70%;
        flex-basis: 70%;
        display: flex;
    }
    .image{
    margin-left: 10px;
    position: relative;
    }
    .image img{
    width: 100%;
    }
    .cover{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #a5a5ce6b;
        top: 0;
        display: none;
    
    }
    .image:hover .cover{
        display: block;
    }
    .ditails{
    position: absolute;
    top: 50%;
    transform: translateX(+80%);
    color: rgb(114, 15, 153);
    display: none;
    }
    .image:hover .ditails{
        display: block;
    }
    /* <!-- information section end --> */

    /* contact section start */
    .contact-section{

/* background-color: #eddfef; */

}
    .container{

    }
    .contact-part{

}
    .contact-name{

margin: auto;

width: 300px;

/* margin-top: 80px; */

}
    .h-name{

padding: 80px 0px;

font-size: 30px;

font-weight: 900;

color: #32022a;

}
    .contact-icons{
        
    }
    .contact-ditails{

    }
    ul{

    }
    ul li{

    }
    ul li a{

    }
    .year{

    }
    /* contact section end */